<h1>Stupid Coaching</h1>
<h4>Ask your coach anything</h4>
<form action="/answer">
  <input type="text" name="coached_question" placeholder="stupid question">
  <input type="submit" value="Go ahead and ask">
</form>
